
.tftable {
	font-size:14px;
	color:#333333;
	width:100%;
	border-width: 1px;
	border-color: #a9a9a9;
	border-collapse: collapse;
}
.tftable th {
	font-size:14px;
	background-color:#b8b8b8;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
	text-align:middle;
}
.tftable tr {
	background-color:#cdcdcd;
}

.tftable td {
	font-size:14px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
}